@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?16676498');
  src: url('../font/fontello.eot?16676498#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?16676498') format('woff'),
       url('../font/fontello.ttf?16676498') format('truetype'),
       url('../font/fontello.svg?16676498#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?16676498#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-gplus:before { content: '\e802'; } /* '' */
.icon-linkedin:before { content: '\e803'; } /* '' */
.icon-instagram:before { content: '\e804'; } /* '' */
.icon-pinterest:before { content: '\e805'; } /* '' */
.icon-skype:before { content: '\e806'; } /* '' */
.icon-whatsapp:before { content: '\e807'; } /* '' */
.icon-vimeo:before { content: '\e808'; } /* '' */
.icon-mail:before { content: '\e809'; } /* '' */
.icon-mail-alt:before { content: '\e80a'; } /* '' */
.icon-search:before { content: '\e80b'; } /* '' */
.icon-down-open-mini:before { content: '\e80c'; } /* '' */
.icon-up-open-mini:before { content: '\e80d'; } /* '' */
.icon-right-open-mini:before { content: '\e80e'; } /* '' */
.icon-left-open-mini:before { content: '\e80f'; } /* '' */
.icon-up-dir:before { content: '\e810'; } /* '' */
.icon-right-dir:before { content: '\e811'; } /* '' */
.icon-left-dir:before { content: '\e812'; } /* '' */
.icon-down-dir:before { content: '\e813'; } /* '' */
.icon-phone:before { content: '\e814'; } /* '' */
.icon-location:before { content: '\e815'; } /* '' */
.icon-youtube:before { content: '\e816'; } /* '' */
.icon-right-open-big:before { content: '\e817'; } /* '' */
.icon-down-open-big:before { content: '\e818'; } /* '' */
.icon-left-open-big:before { content: '\e819'; } /* '' */
.icon-up-open-big:before { content: '\e81a'; } /* '' */
.icon-down-open:before { content: '\e81b'; } /* '' */
.icon-left-open:before { content: '\e81c'; } /* '' */
.icon-right-open:before { content: '\e81d'; } /* '' */
.icon-up-open:before { content: '\e81e'; } /* '' */
.icon-doc-text:before { content: '\e81f'; } /* '' */
.icon-file-pdf:before { content: '\e820'; } /* '' */
.icon-cog:before { content: '\e821'; } /* '' */
.icon-cog-alt:before { content: '\e822'; } /* '' */
.icon-chart-bar:before { content: '\e823'; } /* '' */
.icon-chart-area:before { content: '\e824'; } /* '' */
.icon-chart-pie:before { content: '\e825'; } /* '' */
.icon-chart-line:before { content: '\e826'; } /* '' */
.icon-home:before { content: '\e827'; } /* '' */
.icon-home-outline:before { content: '\e828'; } /* '' */
.icon-wordpress:before { content: '\e829'; } /* '' */
.icon-basket:before { content: '\e82a'; } /* '' */
.icon-basket-1:before { content: '\e82b'; } /* '' */
.icon-home-1:before { content: '\e82c'; } /* '' */
.icon-comment:before { content: '\e82d'; } /* '' */
.icon-chat:before { content: '\e82e'; } /* '' */
.icon-comment-empty:before { content: '\e82f'; } /* '' */
.icon-chat-empty:before { content: '\e830'; } /* '' */