
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-gplus:before { content: '\e802'; } /* '' */
.icon-linkedin:before { content: '\e803'; } /* '' */
.icon-instagram:before { content: '\e804'; } /* '' */
.icon-pinterest:before { content: '\e805'; } /* '' */
.icon-skype:before { content: '\e806'; } /* '' */
.icon-whatsapp:before { content: '\e807'; } /* '' */
.icon-vimeo:before { content: '\e808'; } /* '' */
.icon-mail:before { content: '\e809'; } /* '' */
.icon-mail-alt:before { content: '\e80a'; } /* '' */
.icon-search:before { content: '\e80b'; } /* '' */
.icon-down-open-mini:before { content: '\e80c'; } /* '' */
.icon-up-open-mini:before { content: '\e80d'; } /* '' */
.icon-right-open-mini:before { content: '\e80e'; } /* '' */
.icon-left-open-mini:before { content: '\e80f'; } /* '' */
.icon-up-dir:before { content: '\e810'; } /* '' */
.icon-right-dir:before { content: '\e811'; } /* '' */
.icon-left-dir:before { content: '\e812'; } /* '' */
.icon-down-dir:before { content: '\e813'; } /* '' */
.icon-phone:before { content: '\e814'; } /* '' */
.icon-location:before { content: '\e815'; } /* '' */
.icon-youtube:before { content: '\e816'; } /* '' */
.icon-right-open-big:before { content: '\e817'; } /* '' */
.icon-down-open-big:before { content: '\e818'; } /* '' */
.icon-left-open-big:before { content: '\e819'; } /* '' */
.icon-up-open-big:before { content: '\e81a'; } /* '' */
.icon-down-open:before { content: '\e81b'; } /* '' */
.icon-left-open:before { content: '\e81c'; } /* '' */
.icon-right-open:before { content: '\e81d'; } /* '' */
.icon-up-open:before { content: '\e81e'; } /* '' */
.icon-doc-text:before { content: '\e81f'; } /* '' */
.icon-file-pdf:before { content: '\e820'; } /* '' */
.icon-cog:before { content: '\e821'; } /* '' */
.icon-cog-alt:before { content: '\e822'; } /* '' */
.icon-chart-bar:before { content: '\e823'; } /* '' */
.icon-chart-area:before { content: '\e824'; } /* '' */
.icon-chart-pie:before { content: '\e825'; } /* '' */
.icon-chart-line:before { content: '\e826'; } /* '' */
.icon-home:before { content: '\e827'; } /* '' */
.icon-home-outline:before { content: '\e828'; } /* '' */
.icon-wordpress:before { content: '\e829'; } /* '' */
.icon-basket:before { content: '\e82a'; } /* '' */
.icon-basket-1:before { content: '\e82b'; } /* '' */
.icon-home-1:before { content: '\e82c'; } /* '' */
.icon-comment:before { content: '\e82d'; } /* '' */
.icon-chat:before { content: '\e82e'; } /* '' */
.icon-comment-empty:before { content: '\e82f'; } /* '' */
.icon-chat-empty:before { content: '\e830'; } /* '' */